# GENERAL
PORT=5000
OWNER_NAME=David Mamun William
MODE=normal

# WATCH LIST (comma separated)
WATCH_SYMBOLS=EUR/USD,GBP/USD,USD/JPY,AUD/USD,USD/CAD,USD/CHF,NZD/USD

# QUOTEX (If you have a Quotex WS provider or official)
QUOTEX_ENABLED=true
QUOTEX_WS_URL=           # provide websocket endpoint if you have one
QUOTEX_USER=info.universefor.loop@gmail.com             # username if required
QUOTEX_PASS=mamunxD@091             # password if required

# EXNESS (preferred: WS feed)
EXNESS_ENABLED=false
EXNESS_WS_URL=ws://your.exness.ws.endpoint

# SIGNAL / STRATEGY
SCAN_INTERVAL_MS=3000
MIN_CONFIDENCE=80
BINARY_EXPIRY_SECONDS=60

# TELEGRAM
TELEGRAM_BOT_TOKEN=8076126047:AAGA738ErbYAvQmzpS3DuF6nxH54gITxUo4
TELEGRAM_CHAT_ID=8076126047

# CLOUD (optional)
FIREBASE_DB_URL=
MONGO_URI=

# DEBUG
DEBUG=false
ALLOW_TEST=false
